auto
node_modules
dist
.DS_Store
*~
*.aux
*.bak
*.blg
*.dvi
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.log
*.out
*.thm
*.toc
*.lof
*.lot
*.loe
*.vrb
*.hd
*.fdb_latexmk
*.fls
*.xdv
*.pdf
*.synctex
wzf_main.synctex
wzf_main.pdf
